        </div>
        <footer>
            <div class="pull-right">
           
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="/static/admin/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/static/admin/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/static/admin/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/static/admin/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="/static/admin/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="/static/admin/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/static/admin/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="/static/admin/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="/static/admin/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="/static/admin/vendors/Flot/jquery.flot.js"></script>
    <script src="/static/admin/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="/static/admin/vendors/Flot/jquery.flot.time.js"></script>
    <script src="/static/admin/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="/static/admin/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/static/admin/js/flot/jquery.flot.orderBars.js"></script>
    <script src="/static/admin/js/flot/date.js"></script>
    <script src="/static/admin/js/flot/jquery.flot.spline.js"></script>
    <script src="/static/admin/js/flot/curvedLines.js"></script>
    <!-- JQVMap -->
    <script src="/static/admin/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/static/admin/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/static/admin/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/static/admin/js/moment/moment.min.js"></script>
    <script src="/static/admin/js/datepicker/daterangepicker.js"></script>
    <!-- Dropzone.js -->
    <script src="/static/admin/vendors/dropzone/dist/min/dropzone.min.js"></script>
    <!-- ajaxUpload -->
    <script src="/static/admin/build/js/ajaxUpload.js"></script>
    <!-- Validator -->
    <script src="/static/admin/vendors/validator/validator.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="/static/admin/build/js/custom.js"></script>
    <script src="/static/admin/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="/static/admin/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="/static/admin/vendors/google-code-prettify/src/prettify.js"></script>
    <!-- jQuery Tags Input -->
    <script src="/static/admin/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="/static/admin/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="/static/admin/vendors/select2/dist/js/select2.full.min.js"></script>
    <!-- Parsley -->
    <script src="/static/admin/vendors/parsleyjs/dist/parsley.min.js"></script>
    <!-- Autosize -->
    <script src="/static/admin/vendors/autosize/dist/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="/static/admin/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- Select2 -->
    <script src="/static/admin/vendors/select2/dist/js/select2.full.min.js"></script>
    <!-- starrr -->
    <script src="/static/admin/vendors/starrr/dist/starrr.js"></script>
    <!-- layer.js -->
    <script src="/static/admin/js/layer/layer.js"></script>
    <!-- laydate -->
    <script src="/static/admin/vendors/laydate/laydate.js"></script>
    <!-- xxx -->
    <script type="text/javascript" src="/static/admin/js/xxx/core.js"></script>
    <!--zyupload-->
    <script type="text/javascript" src="/static/admin/js/zyupload/zyupload.basic-1.0.0.min.js"></script>
    <!--uploadify-->
    <script type="text/javascript" src="/static/admin/js/uploadify/jquery.uploadify.min.js"></script>
    <script src="/static/admin/js/common.js"></script>
     <!-- Wind.js -->
    <script type="text/javascript">
	//wind.js变量
	var GV = {
	    DIMAUB: "__ROOT__",
	    JS_ROOT: "__JS__/",
	    TOKEN: ""
	};
	</script>
    <script src="/static/admin/js/wind.js"></script>
    <script src="/static/admin/js/treeTable/treeTable.js"></script>
    
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="/static/admin/js/JavaScript-Load-Image/js/load-image.all.min.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="/static/admin/js/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="/static/admin/js/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="/static/admin/js/jQuery-File-Upload/js/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="/static/admin/js/jQuery-File-Upload/js/jquery.fileupload-process.js"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="/static/admin/js/jQuery-File-Upload/js/jquery.fileupload-image.js"></script>
    <!-- The File Upload audio preview plugin -->
    <script src="/static/admin/js/jQuery-File-Upload/js/jquery.fileupload-audio.js"></script>
    <!-- The File Upload video preview plugin -->
    <script src="/static/admin/js/jQuery-File-Upload/js/jquery.fileupload-video.js"></script>
    <!-- The File Upload validation plugin -->
    <script src="/static/admin/js/jQuery-File-Upload/js/jquery.fileupload-validate.js"></script>
      <!-- The ueditor plugin -->
	<script type="text/javascript" src="/static/admin/js/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" src="/static/admin/js/ueditor/ueditor.all.min.js"></script>
	<script type="text/javascript"  src="/static/admin/js/ueditor/lang/zh-cn/zh-cn.js"></script>
	<script type="text/javascript" >
	  window.UEDITOR_HOME_URL = "/static/admin/js/ueditor"; //UEDITOR_HOME_URL
	</script>
    <!--The validform -->
	<script type="text/javascript"  src="/static/admin/js/validform/js/Validform_v5.3.2_ncr_min.js"></script>
	
    <!--The jquery.AutoComplete -->
	<script type="text/javascript"  src="/static/admin/vendors/jquery.AutoComplete/jquery.autocomplete.min.js"></script>
	
	
  </body>
</html>