<div class="masker hide" id="certifyMask">
    <div class="mask"></div>
    <div class="mask-wrap">
        <div class="mask-title cb">
            提示
            <a href="javascript:;" class="fr close" title="关闭"><img src="/static/home/img/close.png"></a>
        </div>
        <div class="mask-content">
            <p class="p1"><i></i>抱歉，您需认证后才能使用该功能</p>
            <p class="p2"><em class="time" id="counter">3</em>秒后自动关闭本弹窗</p>
        </div>
        <div class="mask-footer">
            <a href="javascript:;" class="noClick">暂不认证</a><a href="/account/certify" class="btn">马上认证</a>
        </div>
    </div>
</div>