<div class="fl side-nav w180" id="sideNav">
    <h2>交易管理</h2>
    <ul>
        <li><a href="/project/listPage" class="isCertify">我的项目</a></li>
        <li><a href="/order/listPage" class="isCertify">交易记录</a></li>
        <li><a href="/bill/listPage" class="isCertify">我的账单</a></li>
    </ul>
    <h2>发布管理</h2>
    <ul>
        <li><a href="/find_money/listPage" class="isCertify">我的融资</a></li>
        <li><a href="/find_goods/listPage">我的找货</a></li>
        <li><a href="/find_cars/listPage">我的找车</a></li>
        <!-- <li><a href="/message/myMessages">消息提醒</a></li> -->
    </ul>
</div>
