<div class="sideBar">
    <ul>
        <li class="active"><a href="/help/feedback" target="_blank" class="noTarget"><i class="i1"></i><i class="i1-1"></i></a></li>
        <li><a href="http://wpa.qq.com/msgrd?v=3&uin=918772956&site=qq&menu=yes" target="_blank"><i class="i2"></i><i class="i2-1"></i></a></li>
        <li class="call" data-number="{:cache('HotTel')}"><a href="javascript:;"><i class="i3"></i><i class="i3-1"></i></a></li>
    </ul>
    <a href="javascript:;" class="btn" id="toTop">
        <i></i>
    </a>
</div>
<!-- < img border="0" src="http://wpa.qq.com/pa?p=2:918772956:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></ <a href=""></a> -->